{% extends "../layout.njk" %}

{% block pagina %}

  <div class="container-fluid">
    <div class="row border-bottom-primary">
      <div class="col-md-12 d-flex">
        <h2 class="mr-auto text-gray-800">Cadastrar</h2>
        <a href="/clientes" class="btn btn-primary float-right mb-4 mr5" >
          Voltar
        </a>
      </div>
    </div>

    <div class="row mb-5 mt-5">
      <div class="col-md-12">
        <form action="/cadastro" method="post" class="border px-5 py-5 shadow-sm p-3 mb-5 bg-white rounded">
          {% include "./partials/dados_pessoais.njk" %}
          {% include "./partials/dado_carro.njk" %}
          {% include "./partials/dados_pagamento.njk" %}
          
          <button type="submit" class="btn btn-primary mt-5">cadastrar</button>
        </form>
      </div>  
    </div>

  </div>

{% endblock %}