{% extends "../layout.njk" %}

{% block pagina %}

<div class="container-fluid">
  <div class="row border-bottom-primary">
    <div class="col-md-12 d-flex">
      <h2 class="mr-auto text-gray-800">Cadastrar</h2>
      <a href="/carros" class="btn btn-primary float-right mb-4 mr5" > Voltar </a>
    </div>
  </div>

  <div class="row my-5">
    <div class="col-md-12">
      <form action="/add" method="post" class="border px-5 py-5 shadow-sm p-3 mb-5 bg-white rounded">
        {% include "./partials/veiculo.njk" %}   
        
        <button type="submit" class="btn btn-primary mt-5">cadastrar</button>
      </form>
    </div>
  </div>

</div>  

{% endblock %}