  
<div class="row">
  <div class="col-md-12 collapse" id="pagamentos">
   

      <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Informações</h6>
          </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-sm table-hover table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <td>cliente</td>
                  <td>Status</td>
                  <td>Valor</td>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <td>cliente</td>
                  <td>Status</td>
                  <td>Valor</td>
                </tr>
              </tfoot>
              <tbody>
                <tr>
                  <td>
                    <i class="far fa-user text-primary"></i> Ubiratan <br>
                    <small class="mr-2"><i class="far fa-envelope"></i> koboriubiratan@gmail.com </small>
                    <small><i class="fas fa-mobile-alt"></i> 080-4329-1728</small>
                  </td>
                  <td class="text-success"><i class="fas fa-hand-holding-usd"></i> pago</td>
                  <td>¥ 35.000</td>
                </tr>
                <tr>
                  <td><i class="far fa-user text-primary"></i> João</td>
                  <td class="text-success"><i class="fas fa-hand-holding-usd"></i> pago</td>
                  <td>¥ 35.000</td>
                </tr>
                <tr>
                  <td><i class="far fa-user text-primary"></i> Pedro</td>
                  <td class="text-success"><i class="fas fa-hand-holding-usd"></i> pago</td>
                  <td>¥ 35.000</td>
                </tr>
              </tbody>
            </table>   
          </div>
        </div>    
      </div>

  
  </div>
</div>