
<h3 class="text-primary border-bottom mt-5">Controle de venda do Veículo</h3>

<div class="form-row">

  <div class="form-group col-md-6">
    <label for="marca">Marca</label>
    <input type="text" class="form-control" name="marca" id="marca" placeholder="Marca" required>
  </div>
  <div class="form-group col-md-6">
    <label for="modelo">Modelo</label>
    <input type="text" class="form-control" name="modelo" id="modelo" placeholder="Modelo">
  </div>
  <div class="form-group col-md-6">
    <label for="ano">Ano</label>
    <input type="text" class="form-control" name="ano" id="ano" required>
  </div>
  <div class="form-group col-md-6">
    <label for="km">Km</label>
    <input type="text" class="form-control" name="km" id="km" required>
  </div>
  <div class="form-group col-md-6">
    <label for="placa">Placa</label>
    <input type="text" class="form-control" name="placa" id="placa" required>
  </div>
  <div class="form-group col-md-6">
    <label for="chassi">Chassi</label>
    <input type="text" class="form-control" name="chassi" id="chassi" required>
  </div>
   <div class="form-group col-md-6">
    <label for="combustivel">Combustível</label>
    <input type="text" class="form-control" name="combustivel" id="combustivel" required>
  </div>
</div> 

