
<h3 class="text-primary border-bottom">Dados pessoais</h3>
<div class="form-row">

<!--
  <div class="form-group col-md-12">
    <label for="foto">Foto</label>
    <input type="file" class="form-control-file" id="foto">
  </div>
-->

  <div class="form-group col-md-6">
    <label for="nome">Nome</label>
    <input type="text" class="form-control" name="nome" id="nome" placeholder="Nome" required>
  </div>
  <div class="form-group col-md-6">
    <label for="sobreNome">Sobre Nome</label>
    <input type="text" class="form-control" name="sobreNome" id="sobreNome" placeholder="Sobre Nome">
  </div>
  <div class="form-group col-md-6">
    <label for="telefone">Telefone</label>
    <input type="text" class="form-control" name="telefone" id="telefone" required>
  </div>
  <div class="form-group col-md-6">
    <label for="idade">Data de Nascimento</label>
    <input type="date" class="form-control" name="idade" id="idade" required>
  </div>
  <div class="form-group col-md-12">
    <label for="email">E-mail</label>
    <input type="text" class="form-control" name="email" id="email" required>
  </div>
</div> 

<div class="form-row">
  <div class="form-group col-md-4">
    <label for="estado">Estado</label>
    <input type="text" class="form-control" name="estado" id="estado">
  </div>
  <div class="form-group col-md-4">
    <label for="cidade">Cidade</label>
    <input type="text" class="form-control" name="cidade" id="cidade">
  </div>
  <div class="form-group col-md-4">
    <label for="cep">CEP</label>
    <input type="text" class="form-control" name="cep" id="cep">
  </div>
</div>

<div class="form-row">
  <div class="form-group col-md-6">
    <label for="endereco">Endereço</label>
    <input type="text" class="form-control" name="endereco" id="endereco" placeholder="Endereço">
  </div>
  <div class="form-group col-md-6">
    <label for="apartamento">Apartamento</label>
    <input type="text" class="form-control" name="apartamento" id="apartamento" placeholder="Apartamento, Nº">
  </div>
</div> 


<p>Possui carteira de motorista?</p>
  <div class="form-check form-check-inline">
    <label class="form-check-label" for="cartSim">  
      <input class="form-check-input" type="checkbox" name="cartSim" id="cartSim" value="Sim">
      <span class="form-check-label">Sim</span>
    </label>
  </div>
  <div class="form-check form-check-inline">
    <label class="form-check-label" for="cartNao"> 
      <input class="form-check-input" type="checkbox" name="cartNao" id="cartNao" value="Não">
      <span class="form-check-label">Não</span>
    </label> 
  </div>    

