<h3 class="text-primary border-bottom mt-5">Condições de Pagamento</h3>

<div class="form-row mt-1 mb-1">
  <div class="form-inline mr-5">
    <label for="valor" class="mr-1"> Valor </label>
    <input type="text" class="form-control" name="valor" id="valor" value="¥ " placeholder="¥">
  </div>
</div>

<div class="form-row my-3">
  <div class="form">
    <label class="mr-1" for="metodoP">Metodo de pagamento</label>
    <select class="form-control" name="metodoP" id="metodoP">
      <option>À vista</option>
      <option>Transferência Bancária</option>
      <option>Parcelado</option>
      <option>Cartão de Crédito</option>
    </select>
  </div>
</div> 

<div class="form-row">
  <div class="form-inline mr-2">
    <label for="parcela" class="mr-1"> </label>
    <input type="text" class="form-control myInput" name="parcela" value="Em " id="parcela" placeholder="¥">
  </div>
  <div class="form-inline">
    <label for="numVezes" class="mr-1"> </label>
    <input type="text" class="form-control myInput" name="numVezes" id="numVezes" value="Vezes De ¥ " placeholder="¥">
  </div>
</div>


    
  <div class="form-row mt-3">
    <p class="form-check-label">Entrada:</p>
  </div>

  <div class="form-row">
    <div class="form-inline">
      <input class="form-check-input" type="checkbox" value="Não" id="entradaNao">
      <label class="form-check-label mr-3" for="entradaNao"> Não </label>
    </div>  

    <div class="form-inline"> 
      <input class="form-check-input" type="checkbox" value="Sim" id="entradaSim">
      <label class="form-check-label" for="entradaSim"> Sim</label>
    </div>
    
    <div class="form-inline">
      <label class="mr-1 ml-2" for="valorEntrada"> Valor </label>
      <input class="form-control" type="text" name="valorEntrada" id="valorEntrada" value="¥ ">
    </div>  
  </div>  


  
  
